html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --tg-safe-top: env(safe-area-inset-top, 0px);
  --tg-safe-bottom: env(safe-area-inset-bottom, 0px);
  --tg-main-button: 0px;
}
